/* =============================================================================
  MAIN VARS
  ========================================================================== */

//////// Main Vars ////////
// Folders
$btns: "../img/btns";
$css-bg: "../img/css-bg";
$dummy: "../img/dummy";
$general: "../img/general";
$icons: "../img/icons";

// Text
$arial: Arial, Helvetica, sans-serif;
$verd: Verdana, Geneva, sans-serif;
$geor: Georgia, 'Times New Roman', Times, serif;
$times: 'Times New Roman', Times, serif;
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
$open-sans: 'Open Sans', sans-serif;






/* =============================================================================
  PROJECT SETUP
  ========================================================================== */

//////// Colors ////////

//Main color
$main-color: #333;
$main-select-color: #FFF;
$main-select-bg: #999;

//Links
$link-color: #333;
$link-hover-color: #333;

//Basics
$hr-color: #CCC;


//////// General Setup ////////

//URL
$site-url: "http://www.google.be/";

//Typo
$basic-fontsize: 100%; //16px
$main-font: $arial;

//Body
$main-background: #FFF;










/* =============================================================================
  MIXINS
  ========================================================================== */

@import "mixins";




/* =============================================================================
  NORMALIZER
  ========================================================================== */

@import "normalizer";





/* =============================================================================
  MAIN STYLES
  ========================================================================== */

@import "main";





/* =============================================================================
  MEDIAQUERYS
  ========================================================================== */





/* =============================================================================
  FALLBACKS
  ========================================================================== */

@import "fallbacks";





/* =============================================================================
  DEBUG
  ========================================================================== */

@import "debug";





/* =============================================================================
  PRINT STYLE
  ========================================================================== */

@import "print";